<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>巡查报告</title>
  <link rel="stylesheet" href="print_css/layui.css" />
  <link rel="stylesheet" href="print_css/form.css">
  <style>
    .layui-table td,
    .layui-table th {
      padding: 0 0;
      text-align: center;
    }

    .content_left {
      text-align: left !important;
      font-size: 12px !important;
    }
  </style>
</head>

<body>
  <div id="report">
    <div id="report-content">
      <section class="page">
        <header>
          <p class="port_number"></p>
          <!-- <p class="port_number">Ref: {{list.work_num}}</p> -->
          <article class="port_title">K11卓越梦想服务部</article>
          <p class="port_title">巡查报告</p>
        </header>
        <main>
          <table class="info_table" style="overflow: wrap">
            <tbody>
              <tr>
                <td>项目名称</td>
                <td>{{list.title}}</td>
                <td>报告编号</td>
                <td>{{list.work_num}}</td>
              </tr>
              <tr>
                <td>报告日期</td>
                <td>{{list.create_time}}</td>
                <td>巡查日期</td>
                <td>{{list.happen_time}}</td>
              </tr>

              <tr>
                <td>巡查范围</td>
                <td>{{list.potrol_scope}}</td>
                <td>所属外判公司</td>
                <td>{{list.wp_company}}</td>
              </tr>

              <tr>
                <td>巡查报告</td>
                <td colspan="3">{{list.abstract}}</td>
              </tr>
            </tbody>
          </table>

          <div class="process">
            <p>审批流程：</p>
            <div class="process_content">
              <table class="layui-table">
                <colgroup>
                  <col width="150">
                  <col width="200">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>工作流节点</th>
                    <th>处理用户</th>
                    <th>收到时间</th>
                    <th>审批时间</th>
                    <th>处理时长</th>
                    <th>操作结果</th>
                    <th>审批意见</th>
                    <th>评分</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="width: 10%;">发起单据</td>
                    <td style="width: 10%;">{{list.username}}</td>
                    <td style="width: 10%;">{{list.create_time}}</td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 50%;"></td>
                    <td style="width: 10%;"></td>
                  </tr>
                  <tr v-for="(item,index) in operationlist">
                    <td>
                      {{item.status==1?'上级同意':item.status==2?'终审人同意':item.status==3?'上级驳回':item.status==4?'终审人驳回':item.status==5?'跟进意见':item.status==6?'转审意见':item.status==7?'转审批注':item.status==8?'重新提交':item.status==9?'跟进提交':'备注'}}
                    </td>
                    <td>{{item.username}}</td>
                    <td>{{item.create_time}}</td>
                    <td>{{item.update_time}}</td>
                    <td>{{item.time!=0||item.update_time?item.time:''}}</td>
                    <td>
                      {{item.update_time?item.status==1?'同意':item.status==2?'同意':item.status==3?'驳回':item.status==4?'驳回':item.status==5?'跟进':item.status==6?'转审':item.status==7?'批注':item.status==8?' ':item.status==9?' ':' ':''}}
                    </td>
                    <td class="content_left">{{item.content}}</td>
                    <td>{{item.star}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </main>

      </section>

      <section class="page">
        <table class="details_tabel" style="overflow-wrap:break-word">
          <tr>
            <td width="18%">巡查时间</td>
            <td width="25%">巡查地点</td>
            <td width="60%">巡查内容</td>
          </tr>

          <tr v-for="(item,index) in list.detail">
            <td>{{item.patrol_time}}</td>
            <td class="details__content">{{item.patrol_place}}</td>
            <td class="details__content">{{item.patrol_content}}</td>
          </tr>

        </table>

      </section>

      <section class="page" v-for="(item, index) in details" :key="item.id">
        <table width="100%" style="border-collapse: collapse">
          <template v-for="(img,imgIndex) in item">
            <tr class="img-part">
              <td class="img-label">明细图片{{index*2+(imgIndex+1)}}：{{img.title}}</td>
            </tr>
            <tr style="margin-bottom: 30px">
              <td class="img-wrp" style="text-align: center;">
                <img :src="img.file_url" style="width: auto;height: auto;max-width: 100%;max-height: auto;">
              </td>
              <!-- <td :style="'background-image: url('+img.file_url+');'" class="img-wrp"></td> -->
            </tr>
          </template>
        </table>
      </section>
      <section class="page" v-for="(item, index) in list.imgs" :key="index">
        <table width="100%" style="border-collapse: collapse">
          <template v-for="(img,imgIndex) in item">
            <tr class="img-part">
              <td class="img-label">附件图片{{index*2+(imgIndex+1)}}：{{img.title}}</td>
            </tr>
            <tr style="margin-bottom: 30px">
              <td class="img-wrp" style="text-align: center;">
                <img :src="img.file_url" style="width: auto;height: auto;max-width: 100%;max-height: auto;">
              </td>
            </tr>
            <!-- <tr>
              <td :style="'background-image: url('+img.file_url+');'" class="img-wrp"></td>
            </tr> -->
          </template>
        </table>
      </section>
    </div>


    <footer class="footer">
      <div class="foot_postil">报告评分（5满分）：{{list.rate}}</div>
      <div class="foot_postil">日期：{{list.time}}</div>
    </footer>

    <button class="pdfBtn" @click="getPdf" v-cloak :disabled="!isOk">
      {{isOk?'导出pdf':'加载中...'}}
    </button>
  </div>

</body>
<script type="text/javascript" src="print_js/html2canvas.js"></script>
<script type="text/javascript" src="print_js/jspdf.min.js"></script>
<script src="print_js/axios.min.js"></script>
<script src="print_js/vue.js"></script>
<script src="print_js/print_patrol.js"></script>

</html>